@{
    ViewData["Title"] = "Home Page";
}



<div class="image-container">
    <img class="center-block" src="~/images/banner_binary.png" alt="ASP.NET" />
</div>

<h2>
    HomeWork №2 ASP.NET MVC CORE
</h2>
<h3>Для успешного выполнения домашнего задания вам понадобится:</h3>
<ol>

    <li>Cоздать ASP.NET MVC Core приложение из темплейта Visual Studio </li>
    <li>
        При старте приложение должно получать набор открытых данных с помощью API запросов к
        <a href="https://5b128555d50a5c0014ef1204.mockapi.io/">mock API</a>
        
    </li>
    <li>Для каждой выборки создать отдельную страницу (выборки взять из предыдущего задания)</li>

    <li>Результаты запросов выводить в таблицах. Если строка таблицы предполагает вложенные данные, то развернуть вложенные данные (expand/collapse).

    <li>Навигация между страницами должна осуществляться через меню</li>

    <li>Задача на креативность: создать страницу, где будут отображены все исходные данные, т.е. пользователи с их постами и комментариями под ними.
    </li>
    <li>Для сущностей User, Post, Todo должны создать отдельные страницы для просмотра информации. 
        В других местах приложения имя пользователя, название поста, название todo-айтема должно быть кликабельно и вести на страницу сущности.</li>



</ol>
<p>Примечания: Обращайте внимание на общий стиль, разметку. Приложение не должно отторгать своим внешним видом. Творчество приветствуется.</p>





